.loginLabel {
    border-right:1px solid wheat; 
}
.row{
     margin: 2%; 
    
}
.newuser{
    display: flex;
    justify-content: center;
}
.formControlName{
    width : 100%
}
/* .loginbtn {
    margin: inherit
} */

.centertext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    background-color: #03065f;
    color:wheat;
    border: 1px solid darkblue;
    box-shadow: 5px 5px darkgrey;
}
.loginbtn{
    display: flex;
    justify-content: center;
}

a{
    color: wheat;
}
/* .modal-backdrop {
    background-color: red;
 } */