<!-- <div class="welocomemsg">
    Welcome to my shop..........
</div> -->
<div class="row">
  <div class="col-md-12">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/clth6.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="../assets/clth5.jpg" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="../assets/clth4.jpg" alt="New York">
        </div>
        <div class="carousel-item">
          <img src="../assets/clth6.jpg" alt="New York">
        </div>
        <div class="carousel-item">
          <img src="../assets/clth5.jpg" alt="New York">
        </div>
        <div class="carousel-item">
          <img src="../assets/clth4.jpg" alt="New York">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offer">
    <img src="../assets/img4.jpg" class="celebimage" alt="">
  </div>
  <div class="col-md-6 fashion">

    <p>
      Fashion is a popular aesthetic expression in a certain time and context, especially in clothing, footwear, lifestyle, accessories,
      makeup, hairstyle and body proportions.
    </p>
  </div>
</div>
<div class="row ">
  <div class="col-md-3 p-0">
    <img src="../assets/off1.jpg" width="100%" class="offimg pointer">
  </div>
  <div class="col-md-3 p-0">
    <img src="../assets/off2.jpg" width="100%" class="offimg pointer">
  </div>
  <div class="col-md-3 p-0">
    <img src="../assets/off3.jpg" width="100%" class="offimg pointer">
  </div>
  <div class="col-md-3 p-0">
    <img src="../assets/off4.jpg" width="100%" class="offimg pointer">
  </div>
</div>